# Python specific
__pycache__/
*.pyc
*.pyd
*.pyo
.python-version
.venv/
venv/
env/

# IDE specific
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db

# Build artifacts
dist/
build/
dependencies/

# Docs
docs/